@inject IOptionsSnapshot<BlogSettings> settings
@inject WebManifest manifest
@{
    var host = Context.Request.Scheme + "://" + Context.Request.Host;
}
<!DOCTYPE html>
<html>
<head>
    <title>K9 Biathlon Örebro - Segersjö: @ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <meta charset="utf-8" />
        <title>@ViewData["Title"]</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="@ViewData["Description"]" />
        <link rel="preload" href="~/js/site.js" as="script" />
        <link rel="preload" href="~/css/belowthefold.scss" as="style" />
        <noscript><link rel="stylesheet" href="~/css/belowthefold.scss" /></noscript>
        @RenderSection("Preload", required: false)
        <link rel="stylesheet" href="~/css/abovethefold.scss" inline />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="@ViewData["Title"]" />
        <meta property="og:description" content="@ViewData["Description"]" />
        <meta property="og:url" content="@(host + Context.Request.Path)" />
        <meta property="og:image" content="@host/img/icon512x512.png" />
        <meta property="og:image:width" content="512" />
        <meta property="og:image:height" content="512" />
        <meta name="msapplication-square150x150logo" content="~/img/icon180x180.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="~/img/icon16x16.png" />
        <link rel="apple-touch-icon" href="~/img/icon180x180.png" />
        <link rel="shortcut icon" href="~/img/icon16x16.png" />
        <link rel="edituri" type="application/rsd+xml" title="RSD" href="~/rsd.xml" />
        <link rel="alternate" type="application/rss+xml" href="~/feed/rss/" />
        <link rel="alternate" type="application/atom+xml" href="~/feed/atom/" />
        @RenderSection("Head", required: false)
</head>
<body>
    <div id="K9Header" class="container">
        <header class="blog-header py-3">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active " style="background-image: url('../img/@ViewBag.BackgroundImage'); font-family:'Sitka Subheading'; font-size:4.5rem">
                        <div class="carousel-caption d-none d-md-block carouselAnimation">
                            <h3 class="display-2">K9 Biathlon Örebro - Segersjö</h3>
                            <h4 class="display-4">2019</h4>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">

                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="#">K9 Biathlon Örebro</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">

                    @{
                        string path = Context.Request.Path;

                        if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Blog" asp-action="Edit">New post</a>
                            <a href="~/logout/" title="Sign out as administrator">Sign out</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-outline-secondary" href="~/login/?returnUrl=@path" rel="nofollow">Logga in</a>
                        }
                    }

                </div>
                </div>*@
        </header>
        <div class="nav-scroller py-1 mb-2">

            <nav class="nav d-flex justify-content-between">

                <a class="p-2 text-muted underline" asp-controller="Blog" asp-action="Index">Start</a>
                <a class="p-2 text-muted underline" asp-controller="App" asp-action="Regler">Regler</a>
                <a class="p-2 text-muted underline" asp-controller="App" asp-action="Sponsorer">Samarbetspartners</a>
                <a class="p-2 text-muted underline" @*asp-controller="App" asp-action="Contact" *@>Kontakta</a>
                <a class="p-2 text-muted underline" asp-controller="App" asp-action="About">Om oss</a>
                @{
                    string path = Context.Request.Path;

                    if (User.Identity.IsAuthenticated)
                    {
                        <a class="p-2 text-muted" asp-controller="Blog" asp-action="Edit">Nytt inlägg</a>
                        <a class="p-2 text-muted" href="~/logout/" title="Logga ut">Logga ut</a>
                    }
                    else
                    {
                        @*<a class="p-2 text-muted" href="~/login/?returnUrl=@path" rel="nofollow">Logga in</a>*@
                    }
                }
            </nav>

        </div>
    </div>


    @*<main itemprop="mainEntity" itemscope itemtype="http://schema.org/Blog">*@
    <section class="container">
        <noscript>
            <p class="container">Some features of this website do not work as expected when JavaScript is disabled</p>
        </noscript>
        @*<h3 class="text-center">@ViewBag.Title</h3>*@
        <br />
        @RenderBody()
    </section>
    <br />
    <footer class="container">
        <div class="row">
            <div class="col-md-4">
                <img id="img-fluid" class="" src="~/img/Logga.png" />
            </div>
            <section class="footerTextContainer col-md-6">
                <p class="footerText" style="display:block">2019 K9 Biathlon Örebro - Segersjö</p>
                @{await Html.RenderPartialAsync("_SocialSharing", ViewData["Title"]);}
            </section>
        </div>
    </footer>
    <script src="~/~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <!-- This lazy loads the stylesheet in a non-render blocking way -->
    @*<link rel="preload" href="~/css/belowthefold.scss" as="style" />
        <noscript><link rel="stylesheet" href="~/css/belowthefold.scss" /></noscript>*@
    @RenderSection("scripts", false)
</body>
</html>
